#widescreen-slideshow {
	height: 300px;
	overflow: hidden;
	width: 100% !important;
}
#widescreen-slideshow .slide {
	display: inline-block;
	width: 100% !important;
	height: 300px;
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-color: transparent !important;
}
#widescreen-slideshow .slider_content {
	margin: 0 auto;
	width: 980px;	
	height: 300px;
}
#slideshow-pager {
	margin: 0 auto;
	width: 980px;
}
#slideshow-pager .pager_container {
	float: right;
	position: relative;
	top: 13px;
	z-index: 10;
	margin: 0 0 -12px 0;
}
#slideshow-pager .pager_container a {
	background: url(../images/slider_nav.png) no-repeat 0px 0px;
	float: left;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	float: left;
	margin: 0 4px 0 0;
}
#slideshow-pager .pager_container a.activeSlide {
	background-position: -12px 0;	
}