@font-face {
	font-family: 'AvenirLTStd';
	src: url('../fonts/avenirltstd-medium-webfont.eot');
	src:  local('☺'), url('../fonts/AvenirLTStd-Medium.woff') format("woff");
}
form {
	clear: both;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'AvenirLTStd', Verdana, Arial, Helvetica, sans-serif;
	font-weight: normal;
}
p {
	line-height: 20px;
	color: #666;
	font-size: 11px;
}

.primary_nav, .primary_children {
	font-family: 'AvenirLTStd', Verdana, Arial, Helvetica, sans-serif;
	margin: 0 0 10px;
}

.primary_nav a.mobile-menu-trigger {
	display: none;
}

.primary_nav ul, .primary_children ul {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.primary_nav ul li, .primary_children ul li {
	display: table-cell;
	text-align: center;
	float: none;
}

.primary_children ul.menu li {
	float: none;
}

.primary_nav ul li a, .primary_children ul li a {
	font-size: 13px;
	text-align:center;
	color: #000;
	border-color: #000;
	-webkit-transition : all 750ms ease-out;
  	-moz-transition : all 750ms ease-out;
  	-o-transition : all 750ms ease-out;
  	transition : all 750ms ease-out;
}

.primary_nav ul li a:hover, .primary_nav ul li.active-trail a, .primary_children ul li a:hover, .primary_children ul li a.active {
	color: #b10700;
	border-color: #b10700;
}

/*Fields*/
.field-field-artist-cv {
	float: left;
}
.field-field-artist-work {
	width: 690px;
}
.field-field-artist-work, .field-field-artist-work .field-item {
	float: left;
}

.field-field-artist-work .field-item {
	margin: 0 5px 5px 0;
}
.field-field-featured-artist {
	margin: 5px 0 0;
}
.node-type-exhibition .field-field-artist-work {
	margin: 10px 0 0;
}
/*Exhibition View*/
.view-exhibitions, .view-exhibitions .views-field-field-event-date-value, .view-exhibitions .views-field-body, .view-exhibitions .views-field-title, .view-exhibitions .views-field-field-featured-artist-nid, .view-exhibitions .views-field-field-cover-image-fidf {
	float: left;
	min-height: 160px;
}
.exhibition-headings {
	width: 930px;
}
.exhibition-headings, .exhibition-headings .field-heading {
	float: left;
}
.exhibition-headings .field-heading {
	margin: 0 0 5px;
}
.view-exhibitions .field-content {
	margin-right: 10px;
}
.view-exhibitions .views-field-body, .exhibition-headings .exhibition-details {
	width: 214px;
}
.view-exhibitions .views-field-title, .view-exhibitions .views-field-field-featured-artist-nid, .exhibition-headings .exhibition-title, .exhibition-headings .exhibition-artist {
	width: 148px;
}
.view-exhibitions .views-field-field-cover-image-fid {
	width: 225px;
	float: left;
}
.view-exhibitions .views-field-field-event-date-value, .exhibition-headings .exhibition-date {
	 width: 195px;
}
.view-exhibitions p {
	margin-top: 0;
}
.view-exhibitions  .views-row {
	padding: 10px 0 0;
	background: url(../images/dots.png) repeat-x;
	float: left;
}
.view-exhibitions .views-field-title {
	font-style: italic;
}
.view-front .field-content {
	text-align: center;
}
.view-front .views-field-field-cover-image-fid {
	margin-bottom: 10px;
}
.view-front .views-field-title a {
	font-style: italic;
}
.view-front .views-field-field-featured-artist-nid, .view-front .views-field-title, .view-front .views-field-field-event-date-value {
	float: right;
	clear: both;
}
/*Contact Form*/
p.contactinfo {
	float: left;
	margin: 10px 0 15px;
}
.googlemap {
	float: right;
}
#contact-mail-page .form-item {
	clear: left;
}
/*Parent Reference*/
.parent-nodes, .filefield-file, .press-link {
	float: left;
	margin: 10px 0 0 17px;
	width: 223px;
}
.field-field-artist-url {
	float: left;
	margin-left: 17px;
	width: 223px;
}
.parent_node {
	margin: 0 0 5px;
}
.parent_node a {
	font-style: italic;
}
.node-type-artist p, .node-type-exhibition p {
	float: left;
	margin: 10px 17px 0;
	width: 206px;
}
.view-front .views-field-field-other-artists-value {
	float: right;
	clear: both;
}
#content-id-13235 h1 {
	display: none;
}
#block-views-artists-block_1 h2 {
	margin: 0 0 10px;
}
.views-field-field-cover-image-fid {
	text-align: center;
}
/*Breadcrumbs*/
.article-title-crumb h1.title {
	float: left;
}
.article-title-crumb {
	float: left;
	width: 100%;
	margin-top: 20px;
}
.article-title-crumb .breadcrumb {
	float: right;
	margin-top: 5px;
	color: #aaa;
	position: relative;
	z-index: 11;
}
.article-title-crumb .breadcrumb a {
	color: #aaa;
}
.article-title-crumb .breadcrumb a:hover {
	color: #B10700;
}
.tabs {
	clear: both;
}
#content-id-13235 .tabs {
	display: none;
}
#block-views-artists-block_1, #block-views-artists-block_2 {
	position: relative;
	top: -27px;
	z-index: 10;
}

.footer-message {
	width: 814px;
	text-align: right;
}

.footer ul.menu li {
	margin: 5px 20px 2px 0;
}

#block-menu-menu-footer-menu {
	float : right;
}

.news-grid .views-row {
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
}

.news-grid .views-row-last {
	border: none;
}

.news-grid .views-label-field-news-artist-nid {
	font-weight: bold;
	line-height: 35px;
}

/*-- ------------testing----------- --*/

@media only screen and (max-width: 980px) {

.container {
  width: 100%;
}

.exhibition-headings {
	width: auto;
}

.views-field-field-cover-image-fid img {
	width: 100% !important;
	height: auto !important;
}
/*
body {
  font: 1em Verdana, Arial, Helvetica, sans-serif;

}*/

.header {
  float: none;
}

.logo {
  float: none;
  text-align: center;
}

.header_left {
  float: none;
}
.search_box {
  float: none;
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  }

.search_box input.form-text {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.primary_nav {
  float: none;
  margin: 22px 0 10px;
}

.primary_nav ul {
  float: none;
  display: block;
  width: auto;
  max-height: 0;
  overflow: hidden;
  -webkit-transition : max-height 800ms;
  -moz-transition : max-height 800ms
  -o-transition : max-height 800ms;
  transition : max-height 800ms;
}

.primary_nav ul.menuExpanded {
  height: auto;
  max-height: 500px;
}

.primary_nav ul li {
  float: none;
  display: block;
}

.primary_nav ul li a {
  margin: 0;
  padding: 9px 0;
}

.primary_nav_js_overlay {
  position: relative;
  margin-top: -9%;
}
.content {
  float: none;
  box-sizing: border-box;
}

.no-bars {
  width: 100%;

}

.article-title-crumb {
  float: none;
  width: 100%;
}
/*.article-title-crumb .breadcrumb {
  float: none;
}*/

.article-title-crumb h1.title {
  float: none;
}

.exhibition-headings, .exhibition-headings .field-heading, .exhibition-headings .field-heading {
	display: none;
}

.view-exhibitions, .view-exhibitions .views-field-field-event-date-value, .view-exhibitions .views-field-body, .view-exhibitions .views-field-title, .view-exhibitions .views-field-field-featured-artist-nid, .view-exhibitions .views-field-field-cover-image-fidf {
	min-height: 10px;
	margin: 0 0 10px;
}

.view-exhibitions .views-row {
  padding: 10px 0 0;
  background: url(../images/dots.png) repeat-x;
  float: none;
  width: 100%;
  overflow: hidden;
}

.header_right {
	clear: none;
	float: none;
}

.block-jlogin {
        display: none;
}

#block-menu-menu-footer-menu {
	clear: both;
	float: none;
	border-top: 1px solid #ccc;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    height: 35px;
}

#block-menu-menu-footer-menu .block-content {
    padding: 0 150px 0 0;
    box-sizing: border-box;
}

.footer {
   border: none;
   position: relative;
   top: 15px;
   margin-top: 15px;
   height: 46px;
}

.footer ul.menu {
	float: none;
display: table;
  table-layout: fixed;
  width: 100%;
}

.footer ul.menu li {
	margin: 0;
	padding: 0;
	text-align: center;
	float: none;
	position: relative;
	width: 100%;
	height: 30px;
  	display: table-cell;
	padding: 0 0 5px;
}

.footer ul.menu li a {
	color: #A3A3A3;
	position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
	left: 0;
	z-index: 9;
	line-height: 34px;
	overflow: hidden;
}

.footer p.footer-message {
	padding: 0 30px;
    	text-align: center;
    	/*border-top: 1px solid #ccc;*/
	  width: 100%;
  box-sizing: border-box;
}

.footer p.footer-message span {
  display: block;
  line-height: 0;
  visibility: hidden;
  text-indent: -9999px;
}

#block-block-5 {
    float: left;
    position: absolute;
    right: 5px;
    bottom: 2px;
    z-index: 10;
}

.primary_nav a.mobile-menu-trigger {
	display: block;
	text-transform: uppercase;
	background: url(../images/menu.png) repeat-x;
	padding: 36px 0 0;
  	width: 53px;
  	text-align: center;
  	margin: 0 0 0 18px;
  	-webkit-transition : all 750ms ease-out;
  	-moz-transition : all 750ms ease-out;
  	-o-transition : all 750ms ease-out;
  	transition : all 750ms ease-out;
}

.primary_nav a.mobile-menu-trigger:hover {
	background-position: 53px 0;
}
span.wysiwyg_imageupload {
	float: none;
	clear: both;
	width: 100%;
	text-align: left;
} 
span.wysiwyg_imageupload img {
	/*width: 100%;*/
	height: auto;
}

.field-field-artist-work {
	width: auto;
}

.googlemap {
	float: none;
}

.googlemap iframe {
	width: 100%;
}

}

@media only screen and (max-width: 748px) {
	.view-exhibitions .views-field-body {
		clear: left;
	}
}

@media only screen and (max-width: 590px) {
	.logo img {
		width: 60%;
		height: auto;
	}
}

.fancybox-opened .fancybox-nav span {
	visibility: visible !important;
}

.fancybox-opened .fancybox-title {
	position: initial;
	margin-bottom: initial;
	bottom: initial;
	right: initial;
	text-align: left;
}

.fancybox-skin {
	background: #fff;
	padding-bottom: 0 !important;
}

.fancybox-opened .fancybox-title span.child {
	display: inline-block;
	line-height: 16px;
	margin-right: initial;
	background: #fff;
	border-radius: 0;
	text-shadow: none;
	font-weight: normal;
	color: #000;
	white-space: pre-wrap;
	padding-left: 0;
}

.field-field-artist-work {
	position: relative;
}

a.scrollBottom {
       display: none;
       width: 70px;
       height: 90px;
       background: url("../images/arrow-text.png");
       position: absolute;
       top: 0;
       right: 0;
}

span.wysiwyg_imageupload {
	padding: 4px 0;
	background: 0;
	border: none;

}

@media only screen and (max-width: 980px) {
	a.scrollBottom {
		display: block;
	}
}
