.da_slider_container {
	width: 950px;
	float: left;
	overflow: hidden;
	position: relative; /*IE8 Fix*/
}
.da_slider {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}
.da_element {
	float: left;
	width: 950px;
	height: 350px;
	position: relative;
	overflow: hidden;
}
.da_element div {
	position: relative;
	top: 0;
	left: 35px;
}