/*Float all top pane blocks*/
.top_pane .block {
	float: left;
}

.top_pane h2 {
    font-weight: normal;
	margin: 3px 0 8px;
}
/*Footer Menu Block*/
.footer ul.menu {
	padding: 0;
	float: left;
}
.footer ul.menu li {
	float: left;
	list-style: none outside none;
	margin: 5px 20px 10px 0;
}
.footer ul.menu li.last {
	margin-right: 0;	
}
.footer ul.menu li a {
	 color: #A3A3A3;
	 font-size: 11px;
}
.footer ul.menu li a:hover {
	 color: #B10700;	
}