.order-pending {
	font-weight: bold;	
	color: #09F;
}
.order-found {
	font-weight: bold;
	color: #090;
}
.order-notfound {
	font-weight: bold;
	color: #BF0000;
}
.instructions-view {
	font-size:10px;
	clear: both;
	float: left;
	width: 100%;	
}